body {
  background-color: lightgray;
}
h1 {
  color: darkblue;
  font-family: "Crimson Text", serif;
  opacity: 0;
  animation: slide-in 1s ease-in 1s forwards;
}
@keyframes slide-in {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
p {
  font-family: "Roboto", sans-serif;
}
.large-header {
  font-size: 40px;
}
#name-text {
  font-weight: 600;
}
div {
  background: white;
  padding: 10px;
  margin: 10px;
  border: solid 1px black;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
}
input {
  margin-top: 4px;
}
